section.consul.consulQuery 
	h3 RESULTADO CONSULTA
	p
	section#buttons
	section
		button(type="button")
			span Generar PDF
	article.consulTable
		table
			thead
				tr
					th ID
					th NOMBRE NIÑ@
					th EDAD
					th ESTADO NIÑ@
					th N. ACTIVIDAD
					th NOMBRE ACTIVIDAD
					th ESTADO
					th PUNTAJE SISTEMA
					th PUNTAJE DOCENTE
					th OBSERVACIÓN
					th FECHA VALIDACIÓN
			tbody
				