html
	height 100%
	-webkit-user-select none

body
	height 100%
	background-image url("img/fondo.png")
	color #191E09

input, select, textarea,button
	border none
	&:disabled
		background-color #c3c0c0 !important
		cursor: not-allowed !important
	a
		text-decoration none
		color inherit
input
	background-color #e6f1bf
	outline  none
	padding 5px
	margin 3px
	&:empty
		background-color #e6f1bf
	&:valid
		background-color #e6f1bf
	&:invalid
		background #e8b8b8 

textarea
	width:60%
	border-radius:NORMAL_BORDER
	background-color:#e6f1bf
	outline: none
	padding:5px
	&:empty
		background-color:#e6f1bf
	&:invalid
		background:#e8b8b8 
	&:valid
		background-color:#e6f1bf

legend
	background-color:#e6f1bf
	border-radius:NORMAL_BORDER
	padding:10px
	&::first-letter
		font-size:1.5rem
		

input[type="file"]::-webkit-file-upload-button
button
	border 1px solid #76A339
	background-color:#d5e59f
	border-radius:NORMAL_BORDER
	color #76A339
	margin 3px
	outline: none
	padding 5px
	text-align:center
	font-weight:bold
	font-size 1rem
	transition .5s all linear
	cursor pointer
	&:hover
		background-color:#5D9A0A
		color:#CCDD91
	a 
		text-decoration none
		color inherit

header
	background-color:#CCDD91
	padding:10px

h1
	margin:10px 0
	a
		margin:0
		padding:0px 20px 0 0
		font-size:2rem
		text-align:justify
		color:#5E7024

h2
	margin:0 10px 0 0
	font-size:1rem
	text-align:right
	color:#758540
	font-style:italic

h3
	margin:0
	padding:15px
	font-size:1.5rem
	text-align:center
	color:#191E09


ul
	padding:0

li
	cursor:pointer

table
	width:100%

tr
	&:hover
		background-color #EAF5C2

th
	border:1px solid green
	background-color:#d9e5b0
	padding:5px

td
	border:1px solid green
	padding:5px

fieldset
	margin:10px auto
	border:1px solid #d5e59f
	border-radius:NORMAL_BORDER
	width:90%

select
	padding:2px
	background-color:#e6f1bf

option
	background-color:#e6f1bf

	
::-webkit-input-placeholder
	color:#606d38