
.menuSub
	margin:14px auto
	width:60%
	ul
		display:flex
		justify-content:space-around
		font-size:1rem
		padding:10px
		border-radius:3px
		background-color:#FFEA73
	li
		padding:10px
		list-style:none
		width:90% !important
		text-align:center
		border-radius:8px
		background-color:#EAB016
		font-family: 'Delius Unicase', cursive

.transform
	article
		&:hover
			transform:scale(1.03)

.menuDesc
	font-size:1.3rem
	font-weight: bold
	font-family: 'Handlee', cursive
	a
		color:#9C4700
	article
		border-radius:8px
		padding:10px
		padding-left:30px
		margin:10px auto
		width:80%
		-webkit-box-shadow: inset 0 0 10px orange
		box-shadow:inset 0 0 10px orange
		background-color:#FFD2A7
		&:hover
			background-color:#F4C546
	ul
		padding-left:30px

.menuHelpQuestion
	border-radius:5px
	padding:10px
	width:95%
	margin:0 auto
	background-color:#FFE4CA
	font-size:1.2rem
	font-weight: normal
	text-align justify

.menuHelp 
	margin:0 auto
	width:100%
	a
		color:#9C4700
	p
		margin:0 auto
		padding-top:20px
		padding-right:20px
		padding-left:20px
		text-align:center
		font-family: 'Quattrocento', serif
		font-weight:bold
		font-size:1.5rem
		&.menuHelpColor
			color:#931F1F
			font-size:3rem
	ul
		height:50px
		display:flex
		justify-content:space-around
		font-size:1.3rem
		padding:20px
		border-radius:3px
		background-color:#FFEA73
	li
		padding:10px
		list-style:none
		width:30%
		text-align:center
		border-radius:8px
		background-color:#EAB016
		font-family: 'Delius Unicase', cursive
		&:hover
			background-color:#F4C546
			transform:scale(1.05) 

.menuAbout 
	font-size 1rem
	img
		margin 0 25%
		width 50%
	li
		width 20%
	article
		margin 10px 0
		width 50%
		padding:3px
		padding-left:30px
		background-color transparent
		&:hover
			background-color:#FFD2A7

.socials
	a
		text-decoration none
	span
		margin 0 10px
	img
		margin 0 0
		width 30px
	article
		margin 20px auto
		width 25%
		padding:3px
		padding-left:30px
		background-color transparent

.aboutPhoto
	width 50%

.aboutDescription
	width 50%


.help
	display:flex
	justify-content:flex-end
	align-items:flex-end

.help 
	a
		width 40px
	img
		width 100%

.helpTitle
	margin 0

.imgHelp
	width 100px
	img
		width 100px