.menuDev
	margin:0 75%
	width:25%
	img
		width:50%
		&:hover
			transform:scale(1.3) 

.menuPcpalDev 
	ul
		display:flex
		justify-content:flex-end
		font-size:1rem
	li
		list-style:none
		width:100%
		border-radius:8px

.menuInfoChild
	margin:0 auto
	width:90%
	ul
		display:flex
		justify-content:space-around
		font-size:1.15rem
	li
		padding:1%
		list-style:none
		width:15%
		text-align:center
		border-radius:8px
		background-color:#acc652

.menuPrincipalTeach 
	a
		font-family: 'Fredoka One', cursive !important
		color:#5e7024
		font-size:3rem
		font-weight:bold
	ul
		background-color:#EAF5C2
		border-radius:3px
		padding:10px
		&:hover
			//background-color:#CCDD91
	li
		//background-color:#EAB016
		width:40%
		border: 3px solid #CCDD91
		background-image:url("/img/others/initialEstimulation.png")
		&:hover
			//background-color:#F4C546
			transform:scale(1.1) 

.menuPrincipalNew 
	a
		color:#9C4700
	ul
		background-color:#FFEA73
		border-radius:3px
		padding:10px
	li
		width:40%
		background-color:#EAB016
		&:hover
			background-color:#F4C546
			transform:scale(1.05) 

.menuPrincipalAdmin 
	a
		color:#18274D
	ul
		background-color:#CEDBFC
		border-radius:3px
		padding:10px
	li
		width:30%
		background-color:#7897E4
		&:hover
			background-color:#5D9FAF
			transform:scale(1.05)

.menuPrincipalBackup
	a
		color:#567C00
	ul
		background-color:#CEF081
		border-radius:3px
		padding:10px
	li
		width:30%
		background-color:#95CA20
		&:hover
			background-color:#ABDF36
			transform:scale(1.05) 

.menuPrincipalDev 
	a
		color:#6A323D
	ul
		background-color:#CBA2AA
		border-radius:3px
		padding:10px
	li
		width:30%
		background-color:#A97680
		&:hover
			background-color:#EFD6DB
			transform:scale(1.05)

.menuPcplInfoChild 
	li:hover
		background-color:#F4C546
		transform:scale(1.2) 

.menuPrincipal
	margin 0 auto
	width 90%
	ul
		display flex
		justify-content space-around
		font-size 1.2rem
		padding-top 2%
	li
		list-style none
		width 30%
		text-align center
		border-radius 8px
	a
		display block
		padding 15px
		text-decoration none