/*
	Code Esperanza Turner
*/

NORMAL_BORDER = 5px
@import url("https://fonts.googleapis.com/css?family=Fredoka+One")
@import "normalize.styl"
@import "menus.styl"
@import "customHTML.styl"
@import "oocss.styl"
@import "numbers.styl"
@import "keyframes.styl"
@import "reportFinal.styl"

.login
	display flex
	flex-direction column
	justify-content center
	align-items center
	max-width  40%
	padding  30px
	border-radius 30px
	border 2px solid #ccdd91
	margin 5% auto
	background-color #acc652
	input
		display  block
		padding 10px
		width 90%
		margin 10px 0
		border-top-right-radius 15px
		border-bottom-left-radius 15px
		border 1px solid #3a7c72
	button
		display block
		margin 0 auto
		width 80%
		font-size 1.5rem
	&:hover
		background-color:#b9d162

.logoCorp
	display:flex
	justify-content:space-between
	align-items:flex-end
	img
		width:100%
	a
		width:18% 

.validAct
	width:40%
	margin:0 auto
	font-size:1rem
	color:black
	input
		border-bottom-left-radius 5px
		border-top-right-radius 5px
	form
		width:100%
	fieldset
		width:100%
		background-color:#FFDFC5
		border none
	input
		background-color:#FFC799
	legend
		background-color:#FFC799
		border-radius:20px
	article
		padding:5px
	select
		padding:2px
		background-color:#FFC799
	textarea
		padding:2px
		background-color:#FFC799

.backgroundFooter
	height:53%
	width:24%
	background-image:url("/img/bebeyDown.png")
	background-position:0 0
	position:fixed
	bottom:0
	right:0
	img
		height:59%
		width:26%

.backgroundF
	background-image:url("/img/fondoEst.png")

.step1:hover
	background-color:#FFE2C6

.step2:hover
	background-color:#C4CEEC

.step3:hover
	background-color:#C8F3A5

.step4:hover
	background-color:#E1ACE7
	
.step
	border-radius:20px
	width:80%
	margin:20px auto
	background-color:#FFB65A
	text-align:center
	font-size:2rem
	p
		margin:0
		color:#5F3200
	span
		margin:10px
		background-color:#FFC38E
		color:#D36300
		text-decoration:none
		font-size:1.3rem
		padding:8px
		border-radius:8px

.stepDesc
	background-color:#FFD2A7
	border:1px #FF7600 solid
	border-radius:20px
	padding:10px
	width:90%
	margin:0 auto
	text-align:center
	font-size:1rem
	p
		margin:0

.activity
	border-radius:20px
	width:80%
	margin:20px auto
	background-color:#FFA153
	text-align:center
	font-size:2rem
	p
		margin:0
		color:#994500
	h3
		padding:5px
		margin:0 auto
		background-color:#FFC9AD
		font-size:1.3rem
		color:#C14600
	button
		border:1px solid #FFC799
		margin:10px 10px -20px 10px
		background-color:#FFC799
		color:#E8812B
		text-decoration:none
		font-size:1.3rem
		padding:8px
		border-radius:8px
		-webkit-box-shadow: inset 0 0 10px #FFC799
		box-shadow:inset 0 0 10px #FFC799

.actDesc
	background-color:#FFDFC5
	border:none
	border-radius:20px
	padding:10px
	width:90%
	margin:20px auto
	text-align:center
	font-size:1rem
	font-weight:bold
	p
		margin:0

.actContent
	display:flex
	justify-content:space-around
	width:90%
	margin:10px auto
	border-radius:5px
	article
		padding-right:5px
		padding-left:5px
		max-width:20%
		width:20%
		border:none
		border-radius:8px
		margin:20px auto
	img
		width:100%
		max-width:100%
		border-radius 10px
	h1
		padding:5px
		margin:0
		text-align:center
		border-radius:8px
		background-color:#FFDBBE
		font-size:1.3rem
	p
		padding:5px 5px
		margin:0
		//text-align:center
		border-radius:8px
		background-color:#FFC799
		font-size:1.2rem

/**/

.hiddenImage
	opacity:0

.h1-2:hover
	background-color:#ccdd91

.imgReview:hover
	background-color:#FFEDDF
	transform:scale(1.5) 

.userR:before
	content:"Bienvenid@ "


.activity button:hover
	background-color:#FFDFC5

.validActButton  button:hover
	background-color:#FFDFC5

.step span:hover
	background-color:#FFDCBC

.act1 img:hover
	background-color:#FFE2C6

.act2 img:hover
	background-color:#C4CEEC

.h1-2
	background-color:#b9d162
	border:1px solid #ccdd91
	border-radius:7px
	font-size:1rem
	margin:auto auto
	text-align:center
	padding:5px

.h1-3
	background-color:#FFAB5B
	border:1px solid #FFD2A7
	border-radius:7px
	font-size:1rem
	margin:20px auto
	text-align:center
	padding:5px

.img img
	border-radius:50%
	width:80%

.logoCorpAct
	display:flex
	justify-content:center

.logoCorpAct img
	width:100%

.logoCorpAct a
	margin-top:10px
	width:15%

.numberStyles
	width:100%

.actionDev form
	margin:0 auto
	width:40%

.infoImp
	width:50%
	padding:20px
	text-align:justify
	margin:2% auto
	font-size:1.2rem

.infoapp
	width:60%
	border:1px solid green
	border-radius:5px
	margin:3% auto
	padding:20px
	text-align:justify

.register form
	margin:0 auto
	display:flex
	flex-direction:column
	width:95%
	height:90%

.data
	display:flex
	justify-content:space-around
	align-items:flex-start
	flex-wrap:wrap


.data input
	margin:3px 2px
	border-bottom-right-radius:5px
	border-top-left-radius:5px

.validChildren
	background-color:#d5e59f
	text-align:center

.validChildren input
	margin:5px auto
	font-size:1.3rem
	text-align:center

.user
	background-color:#d5e59f

.consul
	width:95%
	margin:2% auto

.consulFlex
	display:flex
	flex-flow:wrap
	justify-content:space-around
	align-items:flex-start

.consul form
	width:600px
	max-width:600px

.consul article
	padding:3px

.consul h3
	background-color:#a4b370

.consulQuery
	border:1px solid green
	border-radius:3px
	padding:5px

.cQChildren
	display:flex
	flex-flow:wrap
	align-items:flex-start
	justify-content:space-around

.cQChildren article
	padding:5px
	margin:10px 10px
	max-width:30%
	width:30%
	border:0.5px solid green
	border-radius:10px

.consulTable
	display:flex
	flex-flow:wrap
	justify-content:space-around

.consulTableP
	margin:0
	padding:10px
	text-align:center

.continue
	margin:0 auto
	display:flex
	flex-flow:wrap
	flex-direction:row
	justify-content:space-around
	width:95%
	padding:10px

.continue article
	max-width:40%
	width:40%
	border:1px solid green
	border-radius:8px
	padding:5px
	margin:10px 1px

.continue form
	width:inherit

.continue fieldset
	width:inherit

.continue a
	color:#191E09

/*
.more button
	margin:8px auto
	width:30%
	border-radius:5px
	font-size:1.1rem
	text-align:center
	padding:5px
	background-color:#d5e59f
*/

.more img
	width:20px
	height:20px

.contActivities button
	margin:0 auto

.contActivities p
	padding:5px
	margin:2% auto
	width:60%
	border-radius:10px
	text-align:center
	background-color:#CCDD91

.contActivities a
	text-decoration:none

.contActivities img
	width:20px
	height:20px

.continueViewMore
	border:1px solid green
	border-radius:5px

.continueViewMore article
	max-width:30%
	width:30%
	background-color:#CCDD91
	border:1px solid green
	border-radius:8px
	padding:10px
	margin:10px 1px

.continueProgressLogros
	display:flex
	flex-flow:wrap
	flex-direction:column
	justify-content:space-around
	width:95%
	margin:10px auto
	border:1px solid green
	border-radius:5px

.continueProgressLogros article
	max-width:80%
	width:80%
	border:1px solid green
	background-color:#CCDD91
	border-radius:8px
	padding:5px
	margin:10px auto

.continueHistoryAct
	width:95%
	margin:10px auto
	border:1px solid green
	border-radius:5px

.continueHistoryAct article
	max-width:80%
	width:80%
	border:1px solid green
	background-color:#CCDD91
	border-radius:8px
	padding:5px
	margin:10px auto

.continueDetailAct-consulStatusStep
	width:95%
	margin:10px auto
	border:1px solid green
	border-radius:5px

.continueDetailAct-consulStatusStep article
	max-width:80%
	width:80%
	border:1px solid green
	background-color:#CCDD91
	border-radius:8px
	padding:5px
	margin:10px auto

.actMenuDescription
	font-family: 'Fredoka One', cursive
	border-radius:20px

.contentSteps
	display:flex

.contentSteps h1
	margin:0 auto
	writing-mode:vertical-rl
	text-orientation:upright
	font-size:4rem
	font-family: 'Fredoka One', cursive


.stepAct
	display:flex
	flex-flow:wrap
	flex-direction:row
	justify-content:space-around
	width:80%
	margin:10px auto

.stepAct article
	max-width:35%
	width:35%
	border-radius:8px
	padding:5px
	margin:20px auto
	text-align:center

.stepAct img
	display:block
	padding:15px
	border-radius:20px
	max-width:35%
	width:35%
	margin:0 auto

.stepAct a
	text-decoration:none

.centerEstimulation
	background-color:#C7EE81
	padding:3px
	font-size:3rem
	text-align:center

.centerEstimulation p
	margin:0
	color:#246700

.actGroup input
	font-size:1.5rem
	background-color:#FFC799
	color:black
	text-align:center

.actGroup button
	border: 1px solid #e8812b
	background-color:#ffc799
	color:#994500
	&:hover
		background-color:#FFA962
			

.actGroup fieldset
	background-color:#FFDFC5
	border:none
	border-radius:20px
	margin:20px auto
	text-align:center
	width:50%

.actGroup legend
	background-color:#FFC799
	border-radius:20px

.actGroup article
	margin:10px auto
	width:90%
	max-width:95%

.actGroupReview fieldset
	width:90%

.imgReview
	border:1px solid #FFAB5B
	border-radius:10px
	background-color:#ffd2a7

.imgReview img
	width:90%

.actContentGuidesChild
	display:flex
	justify-content:space-around
	width:100%
	margin:0 auto
	padding:0
	border-radius:5px

article.actContentGuidesChild
	padding:0
	margin:10px auto
	width:100%
	max-width:100%
	border:0
	border-radius:0

article.actCentral
	max-width:80%
	width:80%

input.actCentralI
	font-size 4rem
	font-weight bold
	border-radius 10%
	width:90%
	max-width:90%
	margin-top:20px
	text-align:center
	background-color: #ffc799;
	color: #994500;

.actCentralImg
	display:flex
	justify-content:space-around
	align-items:center
	width:80%
	background-color:#FFEDDF
	margin:10% auto
	padding:30px
	border-radius:5px

.actCentralImg section
	align-items:center
	width:30%
	height:100%
	/*background-color:#FFEDDF*/
	margin:0 auto
	padding:10px
	border-left:3px solid orange
	border-right:3px solid orange
	border-radius:20px

img.img
	margin:0 40%
	width:20%

img.imgAudio
	width:5%
	align-self: flex-start

.imgPhoto img
	width:40%
	border-radius:50%

.act
	width:80%

.act img
	border-radius:20px
	max-width:70%
	width:70%

.act article
	padding:0
	margin:20px

.help
	display:flex
	justify-content:flex-end
	align-items:flex-end

.help 
	a
		width 40px
	img
		width 100%

.validStep article
	margin:0 auto
	width:75%
	padding:5px

.validStep p
	font-size:1.2rem
	margin:0

.showChildrens 
	p
		text-align:justify
		padding:5px
		margin:0 0
		color:#994500
		font-size:1rem

	fieldset
		width:90%

.childShow
	margin:0 auto
	width:80%
	display:block
	
	form
		width:100%


.validActButton button
	border:1px solid #FFC799
	margin-right:10px
	background-color:#FFC799
	color:#E8812B
	text-decoration:none
	font-size:1.3rem
	padding:3px
	border-radius:8px
	-webkit-box-shadow: inset 0 0 10px #FFC799
	box-shadow:inset 0 0 10px #FFC799

.flex
	display:flex
	justify-content:space-around

.pin label
	font-size:1.3rem
	color:#994500

.MSG

	animation: 2s ascender linear forwards
	background-color: #fff
	box-shadow: 4px 5px 10px 0 #808080
	color: #000
	display: flex
	font-weight: bold
	height: 100px
	min-width: 400px
	position: absolute
	right: 0
.MSG .contenedorMensaje

	padding: 10px
	width: calc(100% - 110px)
.MSG .contenedorIcon

	width: 110px
.MSG .contenedorIcon img
	width: 100%