doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title Acerca de Not Down, ¡Yes Up!
		link(rel='stylesheet', href='/css/styles.css')

	body.backgroundF
		section.container

			section.menuHelp.flex
				section
					p Acerca de...
					p.menuHelpColor Not Down, ¡Yes Up!

			nav.menuAbout.menuHelp
				ul
					li(data-id='navAbout' data-reference="#developer")
						a DESARROLLADORA
					li(data-id='navAbout' data-reference="#app")
						a APLICACIÓN
					li(data-id='navAbout' data-reference="#collaborator")
						a COLABORADORES
					li(data-id='navAbout' data-reference="#resources")
						a RECURSOS

			section#developer.menuDesc.menuAbout.hide.flex
				section.aboutPhoto
					img(src='/img/about/et.jpg')
				section.aboutDescription
					article
						p Luz María Esperanza Turner Benites
					article
						p Ingeniería de Sistemas
					article.socials
						a(href='http://www.unipiloto.edu.co' target='_blank')
							p
								img(src='/img/about/upc.png')
								span Universidad Piloto de Colombia
					article
						p Año: 2016
					article.socials
						a
							p
								img(src='/img/about/wh.png')
								span 312 449 9558
					article.socials
						a(href='https://www.facebook.com/esperanzaturnerbenites' target='_blank')
							p
								img(src='/img/about/fb.png')
								span Luz Maria Turner
					article.socials
						a(href='https://twitter.com/espeturner' target='_blank')
							p
								img(src='/img/about/tw.png')
								span @espeturner
					article.socials
						a(href='https://mail.google.com/' target='_blank')
							p
								img(src='/img/about/gm.png')
								span esperanzaturnerbenites@gmail.com
					article.socials
						a(href='https://github.com/esperanzaturnerbenites' target='_blank')
							p
								img(src='/img/about/gh.png')
								span esperanzaturnerbenites
					article.socials
						a(href='https://www.youtube.com/channel/UC1Dq3TBumNLIM_8-BM1kpVA' target='_blank')
							p
								img(src='/img/about/yt.png')
								span esperanzaturnerbenites
			section#app.menuDesc.menuAbout.hide
				section.aboutDescriptionApp
					article
						p Not Down, ¡Yes Up!
					article
						p Not Down, ¡Yes Up! es una aplicación Web diseñada para la estimulación temprana en niños y niñas con Síndrome de Down, a través del desarrollo de actividades que estimulan al/la niño/a . Estas actividades son desarrolladas por el/la niño/a con el acompamiento del docente quién es el encargado de velar por que cada actividad se desrrolle de la manera adecuada. Not Down, ¡Yes Up! utiliza ConectionRUG, que es una aplicación de escritorio que permite la conexion entre un tapete electrónico y Not Down, ¡Yes Up!. El tapete electrónico diseñado para el desarrollo de las actividades, permite una interacción directa entre el/la niño/a y el software, lo cual ofrece una estimulación completa, al involucrar actividades que no solo requieran de atención cognitiva, sino del uso de movientos físicos.
					article
						p
							span Para mayor información clic 
							a(href='/users/help-me') aquí
			section#collaborator.menuDesc.menuAbout.flex.hide
				section.aboutPhoto
					a(href='http://corporacionsindromededown.org' target='_blank')
							img(src='/img/about/csd.png')
					article
						p La Corporación Síndrome de Down (CSD) es una organización de padres de familia no gubernamental, fundación sin ánimo de lucro de carácter social que se constituyó con el fin de mejorar la calidad de vida de las personas con Síndrome de Down y sus familias. Fue fundada en Junio de 1988 por cinco parejas de padres de familia que tienen hijos con Síndrome de Down: Antonio Pabón y Rosario Gamboa, Tomás Mach y Ana María Esguerra, Fabio  Gómez y Esperanza Vásquez, Jaime Escallón e Inés Elvira Buraglia, Germán Robledo y María Elisa Casas.
				section.aboutDescription.photosCollaborators
					article
						img(src='/img/about/gh.png')
						p MARCELA FERNANDEZ
					article
						img(src='/img/about/gh.png')
						p MARCELA FERNANDEZ
					article
						img(src='/img/about/gh.png')
						p MARCELA FERNANDEZ
					article
						img(src='/img/about/gh.png')
						p MARCELA FERNANDEZ
			section#resources.menuDesc.menuAbout.socials.hide
				section.flexWrap
					article
						p 
							span Imágenes tomadas de 
							a(href='https://pixabay.com/' target='blank') Pixabay
					article
						p 
							span Paleta de colores de 
							a(href='http://paletton.com/' target='blank') Paleton
					article
						p 
							span Cuentos y canciones de 
							a(href='http://musicaq.org/descargar-musica/bb6bd48-cuentos-infantiles.html' target='blank') musicaQ.net, 
							a(href='http://www.genteflowmp3.me/mp3/infantiles.html' target='blank') GenteFlow
							span  y 
							a(href='http://es.clipdealer.com/' target='blank') ClipDealer
					article
						p 
							span Gif creados con  
							a(href='https://imgflip.com/images-to-gif' target='blank') imgflip

		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/dataManualUser.js")
		script(src="/js/users.js")
