doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación - Actividades Etapa 3 .:Undefine:.
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='style.css')
  body
    section.container
      section.centerEstimulation
        p
          span Centro de Estimulación
      section.step
        p
          span ETAPA 4
      section.stepAct.act
        article.act1
          a(href='#')
            img(src='img/1a.png', alt='')
          p
            b TÍTULO ACTIVIDAD 1
        article.act2
          a(href='#')
            img(src='img/2a.png', alt='')
          p
            b TÍTULO ACTIVIDAD 2
