extends templates/template.jade 
block title
	title Administración de Usuarios en ¡No Down, Yes Up!
block exit
	button
		a(href='/admin/menu-admin') VOLVER
block content
	section.register 
		h3 Administración de Usuarios
		article.data
			form#formFindAll
				fieldset.consul
					legend Ver Usuarios
					article
						label(for="typeConsult") Tipo de Consulta: 
						select#typeConsult(name='typeConsult')
							each typeUser,nUser in CTE.TYPE_USER
								if (typeUser != CTE.TYPE_USER.DEVELOPER)
									option(value='#{parserCustom(typeUser,"TYPE_USER")}') #{parserCustom(typeUser,"TYPE_USER")}
							option(value='T') Todos
					article
						label(for="typeConsulStatusUser") Estado de Usuarios: 
						select#typeConsulStatusUser
							each statusUser,nStatus in CTE.STATUS_USER
								option(value='#{parserCustom(statusUser,"STATUS_USER")}') #{parserCustom(statusUser,"STATUS_USER")}
							option(value='T') Todos
					article
						button(type='submit')
							span Buscar

			form#formNewUser
				fieldset
					legend Nuevo Usuario del Sistema
					article
						input#idUser(type='number', name='idUser', min='1000', placeholder='Cédula Usuario', required data-valid-id-exists="false,true,user,idUser")
						input#userUser(type='text', name='userUser', placeholder='Nuevo Usuario' autocomplete="off" required data-valid-user-exists="true,false")
					article
						label(for='typeUser') Tipo de usuario: 
						select#typeUser(name='typeUser')
							option(value='0', selected) Administrador
							option(value='1') Docente
					article
						input#passUser(type='password', name='passUser', data-equal-to="#newPassConfirmUser" placeholder='Contraseña', required='')
						input#newPassConfirmUser(type='password', name='newPassConfirmUser', data-equal-to="#passUser" placeholder='Repite Contraseña', required='')
						button(type='submit')
							span Crear
			
			form#formUpdatePass
				fieldset
					legend Actualizar Contraseña
					article 
						input#adminIdUser(type='text', name='adminIdUser', placeholder='Usuario' autocomplete="off" required data-valid-user-exists="false,true" data-not-equal-to="#userUserAuthenticate")
					article
						input#adminPassUser(type='password', data-equal-to="#adminPassConfirmUser" name='adminPassUser', placeholder='Contraseña', required='')
						input#adminPassConfirmUser(type='password', data-equal-to="#adminPassUser" name='adminPassConfirmUser', placeholder='Repite Contraseña', required='')
						button(type='submit')
							span Actualizar
			
			form#formOpeUserRol
				fieldset
					legend Actualizar Rol
					section
						input#adminRolIdUser(type='text', name='adminRolIdUser' autocomplete="off" placeholder='Usuario', required data-valid-user-exists="false,true" data-not-equal-to="#userUserAuthenticate")
						select#rolUser(name='rolUser')
							option(value='0', selected='') Administrador
							option(value='1') Docente
						button#formOpeUserUpdSta(type='submit')
							span Actualizar
			
			form#formOpeUserStatus
				fieldset
					legend Actualizar Estado
					section
						input#adminStaIdUser(type='text', name='adminStaIdUser' autocomplete="off" placeholder='Usuario', required data-valid-user-exists="false,true" data-not-equal-to="#userUserAuthenticate")
						select#statusUser(name='statusUser')
							option(value='0', selected='') Inactivo
							option(value='1') Activo
						button#formOpeUserUpdSta(type='submit')
							span Actualizar
			
			form#formOpeUser
				fieldset
					legend Eliminar Usuario Sistema
					section
						input#adminOpeIdUser(type='text', name='adminOpeIdUser' autocomplete="off" placeholder='Usuario', required data-valid-user-exists="false,true" data-not-equal-to="#userUserAuthenticate")
						button#formOpeUserDel(type='submit')
							span Eliminar
			
			article#showResultTeachAdmin

	script(src="/js/administracionUsuarios.js")