extends templates/template.jade
block title
  title Consultas en ¡No Down, Yes Up!
block content
  section.consul
    h3 ¿Qué deseas consultar?
    section.consulFlex
      section#consulGeneral
        form
          fieldset.consul.consulGeneral
            legend Consultas Generales
            label(for='consulG') Tipo de Consulta
            select#consulG(name='consulG')
              option(value='', disabled='', selected='') Escoge tu Consulta
              option(value='Listado General') Listado General
              option(value='Listado por Edades y Etapas') Listado por Edades y Etapas
              option(value='Listado por Resultados') Listado por Resultados
      section#consulChildren
        form
          fieldset.consul.consulChildren
            legend Consultas por Nin@
            input#consulIdChildren(type='number', name='consulIdChildren', min='1111', placeholder='Número Identificación', required='')
            button.buttons(type='submit')
              span Confirmar Consulta
      section#consulAvanced
        form
          fieldset.consul.consulAvanced
            legend Consulta Avanzada
            article
              label(for='ageConsul') Edad en Meses
              select#consulAge(name='consulAge')
                option(value='No Validar', selected='') No Validar
                option(value='Mayor Que') Mayor Que
                option(value='Menor Que') Menor Que
                option(value='Entre') Entre
              input#consulIdConsulAvanced(type='number', name='consulIdConsulAvanced', min='0', max='24', placeholder='Meses')
              input#consulIdConsulAvanced2(type='number', name='consulIdConsulAvanced2', min='0', max='24', placeholder='Meses')
            article
              label(for='stepConsul') Etapa
              select#consulStep(name='consulStep')
                option(value='No Validar', selected='') No Validar
                option(value='Etapa 1') Etapa 1
                option(value='Etapa 2') Etapa 2
                option(value='Etapa 3') Etapa 3
                option(value='Etapa 4') Etapa 4
            article
              label Cantidad de Actividades Completadas
              input#consulActCompleted(type='number', name='consulActCompleted', min='0', max='8', placeholder='Act')
            button.buttons(type='submit')
              span Consultar
      section#buttons
        form
          fieldset.consul.buttons
            legend Imprimir/Exportar
            button(type='')
              span Imprimir
            button(type='')
              span Exportar PDF
    section#consulQueryChildren.consul.consulQuery
      h3 Resultado Consulta por Niñ@
      section.cQChildren
        article.consulName
          p
            span
              b Nombre:
            span#consulRName NombreQuery
          article.consulImg
            p
              img#consulRImg(src='', alt='Foto')
        article.consulData
          p
            span
              b Número de Identificación:
            span#consulRIdChildren IdQuery
          p
            span
              b Sexo:
            span#consulRSex SexoQuery
          p
            span
              b Fecha Nacimiento:
            span#consulRBirthdate FechaNacimientoQuery
          p
            span
              b Edad
            span#consulRAge EdadQuery
          p
            span
              b Mamá:
            span#consulRMom MamáQuery
          p
            span
              b Papá:
            span#consulRDad PapáQuery
          p
            span
              b Cuidador:
            span#consulRCare CuidadorQuery
          p
            span
              b Dirección:
            span#consulRAddress DirecciónQuery
          p
            span
              b Teléfono:
        article.consulStatus
          p
            span
              b Fecha de Ingreso:
            span#consulRDateIni FechaIngresoQuery
          p
            span
              b Estado Actual:
            span#consulRStatus EstadoQuery
          p
            span
              b % Etapa:
            span#consulRStep EtapaQuery
            span#consulRPercentajeStep PorcentajeQuery
          p
            span
              b % General:
            span#consulRPercentaje PorcentajeQuery
        article.consulTable
          p.consulTableP
            span
              b ETAPA 1
          table#consulStep1
            thead
              tr
                th ACTIVIDAD
                th ESTADO
                th %
                th ULT. INGRESO
            tbody
              tr
                td xxx
                td xxx
                td xxx
                td xxx
        article.consulTable
          p.consulTableP
            span
              b ETAPA 2
          table#consulStep2
            thead
              tr
                th ACTIVIDAD
                th ESTADO
                th %
                th ULT. INGRESO
            tbody
              tr
                td xxx
                td xxx
                td xxx
                td xxx
        article.consulTable
          p.consulTableP
            span
              b ETAPA 3
          table#consulStep3
            thead
              tr
                th ACTIVIDAD
                th ESTADO
                th %
                th ULT. INGRESO
            tbody
              tr
                td xxx
                td xxx
                td xxx
                td xxx
        article.consulTable
          p.consulTableP
            span
              b ETAPA 4
          table#consulStep4
            thead
              tr
                th ACTIVIDAD
                th ESTADO
                th %
                th ULT. INGRESO
            tbody
              tr
                td xxx
                td xxx
                td xxx
                td xxx
    section#consulQueryGeneralAvanced.consul.consulQuery
      h3 Listado General
      p.consulTableP
        span
          b RESULTADOS
      article.consulTable
        table#consulGeneralAvanced
          thead
            tr
              th NOMBRE
              th EDAD
              th ETAPA
              th %
              th ACT. COMPLETADAS
              th ACT. PENDIENTES
              th ULT. INGRESO
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
    section#consulQueryAgeStep.consul.consulQuery
      h3 Listado por Edades y Etapas
      p.consulTableP
        span
          b RESULTADOS
      article.consulTable
        table#consulAgeStep
          thead
            tr
              th ETAPA 1
              th ETAPA 2
              th ETAPA 3
              th ETAPA 4
            tr
              th 0 - 6 MESES
              th 6 - 12 MESES
              th 12 - 18 MESES
              th 18 - 24 MESES
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
          tfoot
            tr
              th#consulTotalStep1 Total Etapa 1
              th#consulTotalStep2 Total Etapa 2
              th#consulTotalStep3 Total Etapa 3
              th#consulTotalStep4 Total Etapa 4
    section#consulQueryResults.consul.consulQuery
      h3 Listado por Resultados
      p.consulTableP
        span
          b ETAPA 1
      article.consulTable
        table#consulResults1
          thead
            tr
              th NOMBRE
              th EDAD
              th ACT. COMPLETADAS
              th ACT. PENDIENTES
              th %
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
      p.consulTableP
        span
          b ETAPA 2
      article.consulTable
        table#consulResults2
          thead
            tr
              th NOMBRE
              th EDAD
              th ACT. COMPLETADAS
              th ACT. PENDIENTES
              th %
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
      p.consulTableP
        span
          b ETAPA 3
      article.consulTable
        table#consulResults3
          thead
            tr
              th NOMBRE
              th EDAD
              th ACT. COMPLETADAS
              th ACT. PENDIENTES
              th %
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
      p.consulTableP
        span
          b ETAPA 4
      article.consulTable
        table#consulResults4
          thead
            tr
              th NOMBRE
              th EDAD
              th ACT. COMPLETADAS
              th ACT. PENDIENTES
              th %
          tbody
            tr
              td xxx
              td xxx
              td xxx
              td xxx
              td xxx
