<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Datos Niñ@ .:Undefine:.</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="container">
		<header>
			<h2>Software de Estimulación Temprana .:Síndrome de Down:.</h2>
			<h1>Not Down, ¡Yes UP!</h1>
		</header>

		<section id="buttons">
			<form>
				<fieldset class="consul consulButtons">
					<legend>Imprimir/Exportar</legend>
					<button type="">
						<span>Imprimir</span>
					</button>
					<button type="">
						<span>Exportar PDF</span>
					</button>
				</fieldset>
			</form>
		</section>

		<section class="continue continueViewMore">
			<article class="consulName">
				<p>
					<span><b>NOMBRE:</b></span>
					<span id="consulRName">NombreQuery</span>
				</p>
				<p>
					<img id="consulRImg" src="" alt="Foto">
				</p>
			</article>

			<article class="consulData">
				<p>
					<span><b>Número de Identificación:</b></span>
					<span id="consulRIdChildren">IdQuery</span>
				</p>
				<p>
					<span><b>Sexo:</b></span>
					<span id="consulRSex">SexoQuery</span>
				</p>
				<p>
					<span><b>Fecha Nacimiento:</b></span>
					<span id="consulRBirthdate">FechaNacimientoQuery</span>
				</p>
				<p>
					<span><b>Edad</b></span>
					<span id="consulRAge">EdadQuery</span>
				</p>
				<p>
					<span><b>Mamá:</b></span>
					<span id="consulRMom">MamáQuery</span>
				</p>
				<p>
					<span><b>Papá:</b></span>
					<span id="consulRDad">PapáQuery</span>
				</p>
				<p>
					<span><b>Cuidador:</b></span>
					<span id="consulRCare">CuidadorQuery</span>
				</p>
				<p>
					<span><b>Dirección:</b></span>
					<span id="consulRAddress">DirecciónQuery</span>
				</p>
				<p>
					<span><b>Teléfono:</b></span>
					<spanid="consulRTel">TelQuery</span>
				</p>
			</article>

			<article class="consulStatus">
				<p>
					<span><b>Fecha de Ingreso:</b></span>
					<span id="consulRDateIni">FechaIngresoQuery</span>
				</p>
				<p>
					<span><b>Estado Actual:</b></span>
					<span id="consulRStatus">EstadoQuery</span>
				</p>
				<p>
					<span><b>% Etapa:</b></span>
					<span id="consulRStep">EtapaQuery</span>
					<span id="consulRPercentajeStep">PorcentajeQuery</span>
				</p>
				<p>
					<span><b>% General:</b></span>
					<span id="consulRPercentaje">PorcentajeQuery</span>
				</p>
			</article>
		</section>

		<section class="continue continueProgressLogros">
			<article class="consulName">
				<p>
					<span><b>ETAPA</b></span>
					<span id="consulRStep"><b>#</b></span>
				</p>
				<p>
					<span><b>Nombre:</b></span>
					<span id="consulRName">Nombre</span>
				</p>
				<p>
					<span><b>Edad:</b></span>
					<span id="consulRAge">Edad</span>
				</p>
			</article>

			<article class="consulTable">
				<table>
					<thead>
						<tr>
							<th>ACTIVIDAD</th>
							<th>INGRESOS</th>
							<th>ESTADO</th>
							<th>%</th>
							<th>OBSERVACIONES</th>
							<th>ÚLT. INGRESO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a id="continueDetailAct" href="#">XXXXX</a></td>
							<td>XXXXX</td>
							<td>XXXXX</td>
							<td>XXXXX</td>
							<td>XXXXX</td>
							<td>XXXXX</td>
						</tr>
					</tbody>
				</table>
			</article>
		</section>

		<section class="continue continueHistoryAct">
			<article>
				<h3>HISTORIAL DE ACTIVIDADES</h3>
				<section class="consulTable">
					<table>
						<thead>
							<tr>
								<th>ETAPA</th>
								<th>ESTADO</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th id="consulStep1"><a href="#">Etapa 1</a></th>
								<td id="consulStatusStep1">Estado</td>
							</tr>
							<tr>
								<th id="consulStep2"><a href="#">Etapa 2</a></th>
								<td id="consulStatusStep2">Estado</td>
							</tr>
							<tr>
								<th id="consulStep3"><a href="#">Etapa 3</a></th>
								<td id="consulStatusStep3">Estado</td>
							</tr>
							<tr>
								<th id="consulStep4"><a href="#">Etapa 4</a></th>
								<td id="consulStatusStep4">Estado</td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
		</section>

		<section class="continue continueDetailAct-consulStatusStep">
			<article class="consulName">
				<p>
					<span><b>ETAPA</b></span>
					<span id="consulRStep">#</span>
				</p>
				<p>
					<span><b>ACTIVIDAD</b></span>
					<span id="consulRActividad">Nombre Actividad</span>
				</p>
			</article>

			<article class="consulData">
				<p>
					<span><b>Nombre:</b></span>
					<span id="consulRName">Nombre</span>
				</p>
				<p>
					<span><b>Edad:</b></span>
					<span id="consulRAge">Edad</span>
				</p>
			</article>

			<article class="consulTable">
				<table>
					<thead>
						<tr>
							<th>INTENTOS</th>
							<th>%</th>
							<th>OBSERVACIONES</th>
							<th>FECHA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>XXXXX</td>
							<td>XXXXX</td>
							<td>XXXXX</td>
							<td>XXXXX</td>
						</tr>
					</tbody>
				</table>
			</article>
		</section>
	</section>
</body>
</html>