<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Continuar Actividad en Undefine</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="container">
		<header>
			<h2>Software de Estimulación Temprana .:Síndrome de Down:.</h2>
			<h1>Not Down, ¡Yes UP!</h1>
		</header>

		<section class="continue">
			<form>
				<fieldset class="data validChildren">
					<legend>¿Con cuál niñ@ nos divertiremos hoy?</legend>
					<input type="number" id="validIdChildrenContinue" name="validIdChildrenContinue" min="1111" placeholder="Número Identificación" required>
				</fieldset>
			</form>
		</section>


		<section class="continue continueProgress">
			<article class="continueData">
				<section class="date">
					<h3>Datos Niñ@</h3>
					<p>
						<span><b>Nombre:</b></span>
						<span id="continueName">Nombre</span>
					</p>
					<p>
						<span><b>Edad</b></span>
						<span id="continueAge">Edad</span>
					</p>
				</section>
				<section class="img">
					<p>
						<img id="continueImg" src="" alt="Foto">
					</p>
				</section>
				<section class="more">
					<p>
						<span><a id="continueViewMore" href="#">Ver Más</a></span>
					</p>
				</section>
			</article>

			<article class="activities">
				<h3>Progreso</h3>
				<table id="progress">
					<thead>
						<tr>
							<th>ACTIVIDADES</th>
							<th>ESTADO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a id="continueAct3" href="#">TrasAntepenúltima Actividad</a></td>
							<td>Estado</td>
						</tr>
						<tr>
							<td><a id="continueAct2" href="#">Antepenúltima Actividad</a></td>
							<td>Estado</td>
						</tr>
						<tr>
							<td><a id="continueAct1" href="#">Última Actividad</a></td>
							<td>Estado</td>
						</tr>
					</tbody>
				</table>
				<section class="more">
					<p><a id="continueActAll" href="#">Ver Todo</a></p>
				</section>
			</article>

			<article class="continueLogros">
				<h3>Últimos Logros Alcanzados</h3>
				<table id="continueLogros">
					<tbody>
						<tr>
							<th>Etapa</th>
							<td id="continueNumStep">Número Etapa</td>
						</tr>
						<tr>
							<th>Actividades Completadas</th>
							<td id="continueNumComp">Número de Actividades</td>
							<td><a  id="continueLinkAllAtcComp" href="#">Ver</a></td>
						</tr>
						<tr>
							<th>Actividades Pendientes</th>
							<td id="continueNumPend">Número de Actividades</td>
							<td><a id="continueLinkAllActPend" href="#">Ver</a></td>
						</tr>
					</tbody>
				</table>
			</article>

			<article class="contActivities">
				<h3>Continuar Actividades</h3>
				<section class="continueAct">
					<p>
						<span><b><a id="continueContUltAct" href="#"><img src="img/check.png" alt=".::">Continuar con la Última Actividad Pendiente</a></b></span>
					</p>
				</section>

				<section class="continueNewAct">
					<p>
						<span><b><a id="continueNewAct" href="#"><img src="img/check.png" alt=".::">Iniciar Una Nueva Actividad</a></b></span>
					</p>
				</section>
			</article>
		</section>
	</section>
</body>
</html>