extends templates/template.jade
block title
  title Continuar Actividad en ¡Not Down, Yes Up!
block exit
  h2.exit
    a(href='/estimulation/menu-teacher') VOLVER
block content
  section.actGroup
    form#formAddChildAct
      fieldset
        legend ¿Con cuáles niñ@s nos divertiremos hoy?
        input#idChildren(type='number', name='idChildren', min='1111', placeholder='Número Identificación', required='')
        article
          button#addChildAct(type='submit')
            span Añadir Niñ@
        fieldset
          legend Niñ@s añadidos
          article
            lu
              li niñ@s
          article
            button#addChildAct(type='submit')
              span Iniciar Actividad
