extends templates/template.jade
block title
  title Detalles .:¡No Down, Yes Up!:.
block exit
  h2.exit
    a(href='/estimulation/continue-one') VOLVER
block content
  section#buttons
    form
      fieldset.consul.consulButtons
        legend Imprimir/Exportar
        button(type='')
          span Imprimir
        button(type='')
          span Exportar PDF
  section.continue.continueViewMore
    article.consulName
      p
        span
          b NOMBRE:
        span#consulRName NombreQuery
      p
        img#consulRImg(src='', alt='Foto')
    article.consulData
      p
        span
          b Número de Identificación:
        span#consulRIdChildren IdQuery
      p
        span
          b Sexo:
        span#consulRSex SexoQuery
      p
        span
          b Fecha Nacimiento:
        span#consulRBirthdate FechaNacimientoQuery
      p
        span
          b Edad
        span#consulRAge EdadQuery
      p
        span
          b Mamá:
        span#consulRMom MamáQuery
      p
        span
          b Papá:
        span#consulRDad PapáQuery
      p
        span
          b Cuidador:
        span#consulRCare CuidadorQuery
      p
        span
          b Dirección:
        span#consulRAddress DirecciónQuery
      p
        span
          b Teléfono:
    article.consulStatus
      p
        span
          b Fecha de Ingreso:
        span#consulRDateIni FechaIngresoQuery
      p
        span
          b Estado Actual:
        span#consulRStatus EstadoQuery
      p
        span
          b % Etapa:
        span#consulRStep EtapaQuery
        span#consulRPercentajeStep PorcentajeQuery
      p
        span
          b % General:
        span#consulRPercentaje PorcentajeQuery
  section.continue.continueProgressLogros
    article.consulName
      p
        span
          b ETAPA
        span#consulRStep
          b #
      p
        span
          b Nombre:
        span#consulRName Nombre
      p
        span
          b Edad:
        span#consulRAge Edad
    article.consulTable
      table
        thead
          tr
            th ACTIVIDAD
            th INGRESOS
            th ESTADO
            th %
            th OBSERVACIONES
            th ÚLT. INGRESO
        tbody
          tr
            td
              a#continueDetailAct(href='#') XXXXX
            td XXXXX
            td XXXXX
            td XXXXX
            td XXXXX
            td XXXXX
  section.continue.continueHistoryAct
    article
      h3 HISTORIAL DE ACTIVIDADES
      section.consulTable
        table
          thead
            tr
              th ETAPA
              th ESTADO
          tbody
            tr
              th#consulStep1
                a(href='#') Etapa 1
              td#consulStatusStep1 Estado
            tr
              th#consulStep2
                a(href='#') Etapa 2
              td#consulStatusStep2 Estado
            tr
              th#consulStep3
                a(href='#') Etapa 3
              td#consulStatusStep3 Estado
            tr
              th#consulStep4
                a(href='#') Etapa 4
              td#consulStatusStep4 Estado
  section.continue.continueDetailAct-consulStatusStep
    article.consulName
      p
        span
          b ETAPA
        span#consulRStep #
      p
        span
          b ACTIVIDAD
        span#consulRActividad Nombre Actividad
    article.consulData
      p
        span
          b Nombre:
        span#consulRName Nombre
      p
        span
          b Edad:
        span#consulRAge Edad
    article.consulTable
      table
        thead
          tr
            th INTENTOS
            th %
            th OBSERVACIONES
            th FECHA
        tbody
          tr
            td XXXXX
            td XXXXX
            td XXXXX
            td XXXXX
