<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title ¡Ups!. Algo Ha Salido Mal
body
	if user
		if user.typeUser == CTE.TYPE_USER.DEVELOPER
			p !{JSON.stringify(error)}
	else
		p Algo ha Salido Mal Cominuquese con el Administrador.