doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title ¡Help Me!
		link(rel='stylesheet', href='/css/styles.css')

	body.backgroundF
		section.container

			section.menuHelp.flex
				section.imgHelp
					img(src="/img/help-girl.png")
				section
					p.menuHelpColor ¡AYÚDAME!
					p ¿Estás pérdid@? Tranquil@, Navega en el siguiente menú y encontrarás lo que necesitas.
			
			nav.menuHelp
				ul
					li(data-id='admest' data-reference="#allUsers")#allMenu
						a PARA TODOS
					li(data-id='ulPcpal' data-reference="#administration")#adminMenu
						a ADMINISTRACIÓN
						nav#administration.menuSub.hide
							ul
								li(data-id='admest' data-reference="#admUsers") USUARIOS
							ul
								li(data-id='admest' data-reference="#admChildrens") NIÑ@S
							ul
								li(data-id='admest' data-reference="#admReports") REPORTES
							ul
								li(data-id='admest' data-reference="#admBackups") BACKUPS
					li(data-id='ulPcpal' data-reference="#estimulation")#estimulationMenu
						a ESTIMULACIÓN
						nav#estimulation.menuSub.hide
							ul
								li(data-id='admest' data-reference="#estGeneral") GENERAL
							ul
								li(data-id='admest' data-reference="#estSteps") ETAPAS
							ul
								li(data-id='admest' data-reference="#estActs") ACTIVIDADES
							ul
								li(data-id='admest' data-reference="#estElec") TAPETE ELECTRÓNICO
							ul
								li(data-id='admest' data-reference="#estDevAct") DESARROLLAR ACTIVIDAD

			section#menuAllHelp
				nav#allUsers.menuDesc.hide
					article(data-id = 'question' data-reference = '#allNotDownYesUp') 
						p.helpTitle ¡Not Down, Yes Up!
						section#allNotDownYesUp.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#allPaginaPrincipal')
						p.helpTitle PÁGINA PRINCIPAL
						section#allPaginaPrincipal.menuHelpQuestion.hide PÁGINA PRINCIPAL #allPaginaPrincipal
					article(data-id = 'question' data-reference = '#allLogin')
						p.helpTitle LOGUEO
						section#allLogin.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#allUnlogin')
						p.helpTitle DESLOGUEO
						section#allUnlogin.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#allMenuPrincipal')
						p.helpTitle MENÚ PRINCIPAL
						section#allMenuPrincipal.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#allHelpQuestion')
						p.helpTitle AYUDA
						section#allHelpQuestion.menuHelpQuestion.hide
			section#menuAdminHelp
				nav#admUsers.menuDesc.hide
					article(data-id = 'question' data-reference = '#admMenuPrincipalAdmin')
						p.helpTitle MENÚ PRINCIPAL ADMINISTRACIÓN
						section#admMenuPrincipalAdmin.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admRegisterUser')
						p.helpTitle REGISTRAR USUARI@ NUEV@
						section#admRegisterUser.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admConsulUser')
						p.helpTitle CONSULTAR USUARI@S
						section#admConsulUser.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admDetailUser')
						p.helpTitle DETALLAR UN(A) USUARI@
						section#admDetailUser.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admUpdateUser')
						p.helpTitle ACTUALIZAR UN(A) USUARI@
						section#admUpdateUser.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admDeleteUser')
						p.helpTitle ELIMINAR UN(A) USUARI@
						section#admDeleteUser.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admNewRol')
						p.helpTitle ASIGNAR NUEVO USUARIO DE AUTENTICACIÓN
						section#admNewRol.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admDeleteLogin')
						p.helpTitle ELIMINAR USUARIO DE AUTENTICACIÓN
						section#admDeleteLogin.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admUpdatePass')
						p.helpTitle ACTUALIZAR CONTRASEÑA
						section#admUpdatePass.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admUpdateRol')
						p.helpTitle ACTUALIZAR ROL
						section#admUpdateRol.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admUpdateStatus')
						p.helpTitle ACTUALIZAR ESTADO
						section#admUpdateStatus.menuHelpQuestion.hide
				nav#admChildrens.menuDesc.hide
					article(data-id = 'question' data-reference = '#admRegisterChild')
						p.helpTitle REGISTRAR NIÑ@ NUEV@
						section#admRegisterChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admDetailChild')
						p.helpTitle DETALLAR UN(A) NIÑ@
						section#admDetailChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admUpdateChild')
						p.helpTitle ACTUALIZAR UN(A) NIÑ@S
						section#admUpdateChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admDeleteChild')
						p.helpTitle ELIMINAR UN(A) NIÑ@S
						section#admDeleteChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admStatusChild')
						p.helpTitle CAMBIAR ESTADO NIÑO/A
						section#admStatusChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admValidStep')
						p.helpTitle VALIDAR ETAPA
						section#admValidStep.menuHelpQuestion.hide
				nav#admReports.menuDesc.hide
					article(data-id = 'question' data-reference = '#admReportGeneral')
						p.helpTitle CONSULTAS GENERALES
						section#admReportGeneral.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admReportChild')
						p.helpTitle CONSULTA POR NIÑ@
						section#admReportChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admReportAge')
						p.helpTitle CONSULTA POR EDADES
						section#admReportAge.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admReportStep')
						p.helpTitle CONSULTA POR ETAPAS
						section#admReportStep.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admReportActivity')
						p.helpTitle CONSULTA POR ACTIVIDAD
						section#admReportActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admReportFinal')
						p.helpTitle GENERACIÓN DE REPORTE FINAL
						section#admReportFinal.menuHelpQuestion.hide
				nav#admBackups.menuDesc.hide
					article(data-id = 'question' data-reference = '#admSaveBackup')
						p.helpTitle SALVAR INFORMACIÓN (BACKUPS)
						section#admSaveBackup.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#admRecoveryBackup')
						p.helpTitle RESTAURAR BACKUPS (RECUPERAR INFORMACIÓN)
						section#admRecoveryBackup.menuHelpQuestion.hide
			section#menuEstimulationHelp
				nav#estGeneral.menuDesc.hide
					article(data-id = 'question' data-reference = '#estEstimulation')
						p.helpTitle ENTRAR AL CENTRO DE ESTIMULACIÓN
						section#estEstimulation.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estMenuEstimulation')
						p.helpTitle MENÚ PRINCIPAL ESTIMULACIÓN
						section#estMenuEstimulation.menuHelpQuestion.hide
				nav#estSteps.menuDesc.hide
					article(data-id = 'question' data-reference = '#estViewSteps')
						p.helpTitle VER LAS ETAPAS
						section#estViewSteps.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estDetailStep')
						p.helpTitle DETALLAR UNA ETAPA
						section#estDetailStep.menuHelpQuestion.hide
				nav#estActs.menuDesc.hide
					article(data-id = 'question' data-reference = '#estViewActivities')
						p.helpTitle VER ACTIVIDADES DE UNA ETAPA
						section#estViewActivities.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estEnterActivity')
						p.helpTitle INGRESAR A UNA ACTIVIDAD
						section#estEnterActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estStartActivity')
						p.helpTitle INICIAR ACTIVIDAD
						section#estStartActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estMenuActivity')
						p.helpTitle MENÚ DE UNA ACTIVIDAD
						section#estMenuActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estRestartActivity')
						p.helpTitle REINICIAR O CANCELAR ACTIVIDAD
						section#estRestartActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estDetailChild')
						p.helpTitle DETALLAR UN(A) NIÑ@
						section#estDetailChild.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estSupportActivity')
						p.helpTitle ACTIVIDAD DE APOYO
						section#estSupportActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estValidParcial')
						p.helpTitle VALIDACIÓN PARCIAL DE UNA ACTIVIDAD
						section#estValidParcial.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estValidDefinitive')
						p.helpTitle VALIDACIÓN FINAL DE UNA ACTIVIDAD
						section#estValidDefinitive.menuHelpQuestion.hide
				nav#estElec.menuDesc.hide
					article(data-id = 'question' data-reference = '#estRugDescription')
						p.helpTitle DESCRIPCIÓN
						section#estRugDescription.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estRugConection')
						p.helpTitle CONEXIÓN
						section#estRugConection.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estRugCare')
						p.helpTitle CUIDADO Y SEGURIDAD
						section#estRugCare.menuHelpQuestion.hide
				nav#estDevAct.menuDesc.hide
					article(data-id = 'question' data-reference = '#estAccessConectRug')
						p.helpTitle ACCESO A ConectionRUG
						section#estAccessConectRug.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estValidConectRug')
						p.helpTitle VALIDACIONES EN ConectionRUG
						section#estValidConectRug.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estSelectRecords')
						p.helpTitle SELECCIÓN DE FICHAS
						section#estSelectRecords.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estLocationRecords')
						p.helpTitle UBICACIÓN DE FICHAS (Concordancia PIN-FICHA)
						section#estLocationRecords.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estConnectRug')
						p.helpTitle CONEXIÓN DE TAPETE
						section#estConnectRug.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estGuideTeacher')
						p.helpTitle GUÍA DOCENTE
						section#estGuideTeacher.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estGuideChilderns')
						p.helpTitle GUÍA NIÑOS/AS
						section#estGuideChilderns.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estImagesActivity')
						p.helpTitle IMÁGENES
						section#estImagesActivity.menuHelpQuestion.hide
					article(data-id = 'question' data-reference = '#estAnswerActivity')
						p.helpTitle RESPUESTA
						section#estAnswerActivity.menuHelpQuestion.hide


				
		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/dataManualUser.js")
		script(src="/js/users.js")
