doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title ¡Help Me!
		link(rel='stylesheet', href='/css/styles.css')

	body.backgroundF
		section.container

			section.menuHelp.flex
				section.imgHelp
					img(src="#{mediaURL}/img/help-girl.png")
				section
					p.menuHelpColor ¡AYÚDAME!
					p ¿Estás pérdid@? Tranquil@, Navega en el siguiente menú y encontrarás lo que necesitas.
			
			nav.menuHelp
				ul
					each menu in manual.menu
						li(data-id='admest' data-reference="##{reference}")#allMenu
							span #{menu.name}
						ul
						each item in menu
							li(data-id='admest' data-reference="#admUsers") #{item.name}

		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/dataManualUser.js")
		script(src="/js/users.js")
