extends templates/template.jade
block title
  title ¡No Down, Yes Up!
block content
  nav.menuPrincipal
    ul
      li
        a(href='/users/login') INGRESA
      li
        a(href='/users/register') REGÍSTRATE
  article.infoapp
    header
      h2 INFO
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime iste atque quisquam natus aut, eius ipsum consectetur illum alias illo nihil distinctio libero, dolore aliquid placeat, ducimus quam rem vitae?
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur veniam voluptates id dolorem nostrum soluta neque saepe adipisci, quod a odit doloribus recusandae, maiores assumenda vitae cum labore, facere.
  section.backgroundFooter
