extends templates/template.jade
block title
	title ¡Not Down, Yes Up!
block content
	nav.menuPrincipal
		article.menuPrincipalNew
			if (user) 
				ul
					li
						a(href='/admin/menu-admin') ADMINISTRACIÓN
					li
						a(href='/estimulation/menu-teacher') ESTIMULACIÓN
					li
						a#btnLogout(href='/logout') SALIR
			else
				ul
					li
						a(href='/users/login') INGRESA
	article.infoapp.infoImp
		header
			h2 BIENVENID@
		article
			img(src="/img/socialPlanet/nature.png")
			p
				span "Si supiera que el mundo se ha de acabar mañana, yo hoy aún plantaría un árbol". 
				span #[b Martin Luther King, Jr]
	section.backgroundFooter
