<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Undefine</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="container">
		<header>
			<h2>Software de Estimulación Temprana .:Síndrome de Down:.</h2>
			<h1>Not Down, ¡Yes UP!</h1>
		</header>

		<nav class="menuPrincipal">
			<ul>
				<li><a href="#">INGRESA</a></li>
				<li><a href="#">REGÍSTRATE</a></li>
			</ul>
		</nav>

		<article class="infoapp">
			<header>
				<h2>INFO</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime iste atque quisquam natus aut, eius ipsum consectetur illum alias illo nihil distinctio libero, dolore aliquid placeat, ducimus quam rem vitae?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur veniam voluptates id dolorem nostrum soluta neque saepe adipisci, quod a odit doloribus recusandae, maiores assumenda vitae cum labore, facere.
			</p>
		</article>

		
		<section class="backgroundFooter">
		</section>
	</section>
</body>
</html>