<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Undefine</title>
</head>
<body>
	<section class="container">
		<header>
			<h1>Nombre aplicación</h1>
		</header>

		<nav>
			<ul>
				<li><a href="#">Iniciar Sesión</a></li>
				<li><a href="#">Registrate</a></li>
			</ul>
		</nav>

		<article class="infoapp">
			<header>
				<h2>INFO</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime iste atque quisquam natus aut, eius ipsum consectetur illum alias illo nihil distinctio libero, dolore aliquid placeat, ducimus quam rem vitae?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur veniam voluptates id dolorem nostrum soluta neque saepe adipisci, quod a odit doloribus recusandae, maiores assumenda vitae cum labore, facere.
			</p>
		</article>
		
		<footer>
			<h3>Desarrollado por:</h3>
		</footer>
	</section>
</body>
</html>