extends templates/template.jade
block title
  title Ingresa a ¡No Down, Yes Up!
block content
  section.login
    h3 INGRESA
    article
      form#formAuthenticateUser
        input#loginUser(type='text', name='loginUser', placeholder='Usuario', required='')
        input#loginPassword(type='password', name='loginPassword', placeholder='Contraseña', required='')
        button(type='submit')
          span Ingresar
  section.backgroundFooter
  script(src="/js/app.js")