<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ingresa a Undefine</title>
</head>
<body>
	<section class="container">
		<header>
			<h1>Nombre aplicación</h1>
		</header>
		
		<section class="login">
			<article>
				<form>
					<input type="text" id="loginUser" name="loginUser" placeholder="Usuario" required>
					<input type="password" id="loginPassword" name="loginPassword" placeholder="Contraseña" required>
					<button type="submit">
						<span>Ingresar</span>
					</button>
				</form>
			</article>

			<!--
			<aside>
				<p>logueate con:</p>
				<span><a href="#">Facebook</a></span>
				<span><a href="#">Twiter</a></span>
				<span><a href="#">Google</a></span>
			</aside>
			-->
			
		</section>

	</section>
	
</body>
</html>