extends templates/template.jade
block title
	title Ingresa a ¡No Down, Yes Up!
block content
	section.login
		h3 INGRESA
		article
			form#formAuthenticateUser(action="/authenticate" method="POST")
				input#loginUser(type='text', name='username', placeholder='Usuario', required='' autocomplete = "off")
				input#loginPassword(type='password', name='password', placeholder='Contraseña', required='' autocomplete = "off")
				button(type='submit')
					span Ingresar
	script(src="/js/app.js")