<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menú Principal .:Undefine:.</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="container">
		<header>
			<h2>Software de Estimulación Temprana .:Síndrome de Down:.</h2>
			<h1>Not Down, ¡Yes UP!</h1>
		</header>

		<nav class="menuPrincipal">
			<ul>
				<li><a href="#">CENTRO DE ESTIMULACIÓN</a></li>
				<li><a href="#">NIÑ@ NUEV@</a></li>
				<li><a href="#">CONSULTAS</a></li>
			</ul>
		</nav>

		<article class="infoImp">
			<header>
				<h2>BIENVENID@</h2>
			</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iure quidem et esse veritatis, cum saepe consectetur neque laborum voluptate alias fuga sunt repellat ullam doloremque nisi, magnam, dicta mollitia.
				</p>
		</article>

		<section class="backgroundFooter">
		</section>
	</section>
</body>
</html>