extends templates/template.jade
block title
	title Menú Principal .:¡No Down, Yes Up!:.
block exit
	button
		a(href="/logout") SALIR
block content
	nav.menuPrincipal
		if (user.typeUser == 2)
			article.menuPrincipalDev
				ul
					li
						a(href='/admin/admin-steps') ETAPAS
					li
						a(href='/admin/admin-activities') ACTIVIDADES
		article.menuPrincipalNew
			ul
				li
					a(href='/admin/register-children') NIÑ@ NUEV@
				li
					a(href='/admin/register-user') NUEV@ USUARI@
		article.menuPrincipalAdmin
			ul
				li
					a(href='/admin/admin-users') ADMIN USUARI@S
				li
					a(href='/admin/admin-childrens') ADMIN NIÑ@S
				li
					a(href='/admin/reports') REPORTES
		article.menuPrincipalBackup
			ul
				li
					a(href='/admin/backup') BACKUPS
	article.infoImp
		header
			if user.userUser
				h2.userR #{user.userUser}
		article
			img(src="/img/socialPlanet/nature.png")
			p
				span "Si supiera que el mundo se ha de acabar mañana, yo hoy aún plantaría un árbol". 
				span #[b Martin Luther King, Jr]
