extends templates/template.jade
block title
	title Menú Principal .:¡No Down, Yes Up!:.
block exit
	button
		a(href="/logout") SALIR
block content
	nav.menuPrincipal
		article.menuPrincipalTeach
			ul
				li
					a(href='/estimulation/steps') INICIAR
	article.infoImp
		header
			if user.userUser
				h2.userR #{user.userUser}
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iure quidem et esse veritatis, cum saepe consectetur neque laborum voluptate alias fuga sunt repellat ullam doloremque nisi, magnam, dicta mollitia.
	section.backgroundFooter
