<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menú Principal .:Undefine:.</title>
</head>
<body>
	<section class="container">
		<header>
			<h1>Nombre aplicación</h1>
		</header>

		<nav class="menuPrincipal">
			<ul>
				<li><a href="#">Centro de Estimulación</a></li>
				<li><a href="#">Niñ@ Nuev@</a></li>
				<li><a href="#">Consultas</a></li>
			</ul>
		</nav>

		<article class="infoImp">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iure quidem et esse veritatis, cum saepe consectetur neque laborum voluptate alias fuga sunt repellat ullam doloremque nisi, magnam, dicta mollitia.
		</article>
	</section>
</body>
</html>