extends templates/template.jade
block title
	title Menú Principal .:¡No Down, Yes Up!:.
block exit
	h2.exit
		a(href="/logout") SALIR
block content
	nav.menuPrincipal
		if (user.typeUser == 2)
			article.menuPrincipalDev
				ul
					li
						a(href='/admin/admin-steps') ETAPAS
					li
						a(href='/admin/admin-activities') ACTIVIDADES
		article.menuPrincipalNew
			ul
				li
					a(href='/admin/register-children') NIÑ@ NUEV@
				li
					a(href='/admin/register-user') NUEV@ USUARIO
		article.menuPrincipalAdmin
			ul
				li
					a(href='/admin/admin-users') ADMIN USUARIOS
				li
					a(href='/admin/admin-childrens') ADMIN NIÑ@S
				li
					a(href='/admin/reports') REPORTES
		article.menuPrincipalBackup
			ul
				li
					a(href='/admin/backup') BACKUPS
	article.infoImp
		header
			if user.userUser
				h2.userR #{user.userUser}
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iure quidem et esse veritatis, cum saepe consectetur neque laborum voluptate alias fuga sunt repellat ullam doloremque nisi, magnam, dicta mollitia.
