doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación - Nombre Actividad
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body.backgroundF
    section.container
      section.centerEstimulation
        h2.exit
          a(href='/estimulation/steps/step2') VOLVER
      section.activity
        p
          span ETAPA 2 - ACTIVIDAD 1
        a(href='#') Reiniciar Actividad
        a(href='#') Validar Actividad
      section.actDesc
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem non eum rerum sint deserunt esse vel nisi vero dolore, architecto, maxime repellendus distinctio vitae est suscipit voluptates quia corporis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptate, beatae. Nobis id ut, iste fugit in, distinctio est voluptate incidunt modi voluptatibus cumque, laudantium architecto corporis repellendus adipisci alias?
      section.actContent
        article
          p
            b DESCRIPCIÓN ACTIVIDAD 1
          span
            | 1. Paso1 ...2... 3...
        article.actCentral
          p
            b ACTIVIDAD A REALIZAR
          a(href='#')
            img(src='', alt='IMG')
        article
          p
            b RESULTADO
          img(src='/img/espera.png', alt='')
