<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Centro de Estimulación .:Undefine:.</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="container">
		<section class="centerEstimulation">
			<p><span>Centro de Estimulación</span></p>
		</section>
		<section class="stepAct">
			<article class="step1">
				<a href="#"><img src="img/1.png" alt=""></a>
			</article>
			<article class="step2">
				<a href="#"><img src="img/2.png" alt=""></a>
			</article>
			<article class="step3">
				<a href="#"><img src="img/3.png" alt=""></a>
			</article>
			<article class="step4">
				<a href="#"><img src="img/4.png" alt=""></a>
			</article>
		</section>
	</section>
</body>
</html>