doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación .:Undefine:.
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body.backgroundF
    section.container
      section.centerEstimulation
        p
          span Centro de Estimulación
        h2.exit
          a(href='/estimulation/menu-teacher') TERMINAR
      section
        section.logoCorpAct
          a(href="www.corporacionsindromededown.org")
            img(src="/img/LogoCorpSD.png", alt="")
        section.stepAct
          for step in steps
            article(class='#{step.styleStep}')
              a(href='#{step.urlStep}')
                img(src='#{step.imgStep}')
