doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación - Actividades Etapa 3 .:Undefine:.
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body.backgroundF
    section.container
      section.centerEstimulation
        h2.exit
          a(href='/estimulation/steps') VOLVER
      section.step
        p ETAPA 4 (18 - 24 Meses)
        p 
          span Validar Etapa
          
      section.stepDesc
        p
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem non eum rerum sint deserunt esse vel nisi vero dolore, architecto, maxime repellendus distinctio vitae est suscipit voluptates quia corporis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptate, beatae. Nobis id ut, iste fugit in, distinctio est voluptate incidunt modi voluptatibus cumque, laudantium architecto corporis repellendus adipisci alias?
      section.logoCorpAct
        a(href="www.corporacionsindromededown.org")
          img(src="/img/LogoCorpSD.png", alt="")
      section.stepAct.act
        article.act1
          a(href='/estimulation/steps/step4-act1')
            img(src='/img/1a.png', alt='')
          p
            b TÍTULO ACTIVIDAD 1
        article.act2
          a(href='/estimulation/steps/step4-act2')
            img(src='/img/2a.png', alt='')
          p
            b TÍTULO ACTIVIDAD 2
