doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación .:Undefine:.
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='style.css')
  body
    section.container
      section.centerEstimulation
        p
          span Centro de Estimulación
      section.stepAct
        article.step1
          a(href='#')
            img(src='img/1.png', alt='')
        article.step2
          a(href='#')
            img(src='img/2.png', alt='')
        article.step3
          a(href='#')
            img(src='img/3.png', alt='')
        article.step4
          a(href='#')
            img(src='img/4.png', alt='')
