extends templates/templateEstimulation.jade
block title
  title Centro de stimulación - Nombre Actividad
block a-exit
  a(href='/estimulation/steps/step3') VOLVER
block desc
  section.activity
    p
      span ETAPA 3 - ACTIVIDAD 1
    a(href='#') Reiniciar Actividad
    a(href='#') Validar Actividad
  section.actDesc
    p
      |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem non eum rerum sint deserunt esse vel nisi vero dolore, architecto, maxime repellendus distinctio vitae est suscipit voluptates quia corporis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, voluptate, beatae. Nobis id ut, iste fugit in, distinctio est voluptate incidunt modi voluptatibus cumque, laudantium architecto corporis repellendus adipisci alias?
  
block activity
  section.actContent
    article
      p
        b DESCRIPCIÓN ACTIVIDAD 1
      span
        | 1. Paso1 ...2... 3...
    article.actCentral
      p
        b ACTIVIDAD A REALIZAR
      a(href='#')
        img(src='', alt='IMG')
    article
      p
        b RESULTADO
      img(src='/img/espera.png', alt='')
