doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    block title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    section.container
      header
        h2 Software de Estimulación Temprana .:Síndrome de Down:. 
        section.logoCorp
          a(href="http://www.corporacionsindromededown.org" target="blank")
            img(src="/img/LogoCorpSD.png", alt="")
          h1 
            a Not Down, ¡Yes UP!
        block exit
    script(src="/js/lib/jquery-2.2.0.min.js")
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    block content