doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    block title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    section.container
      header
        section.logoCorp
          a(href="www.corporacionsindromededown.org")
            img(src="/img/LogoCorpSD.png", alt="")
          h2 Software de Estimulación Temprana .:Síndrome de Down:. 
        h1
          a(href="/") Not Down, ¡Yes UP!
        block exit
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    block content