doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width")
		link(rel='stylesheet', href='/css/styles.css')
		style.
			table {
				font-size: 8px
			}
	body.html-pdf
		div#pageHeader
			img.img(src="/img/LogoCorpSD.png")

		block content

		div#pageFooter
			span Reporte por Not Down, ¡Yes Up! #[span #{new Date().getStringCustom()}]