doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		block title
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
	body.backgroundF
		section.container
			section.centerEstimulation.help
				h2.exit
					block a-exit
				a(href="/users/help-me" target="blank")
					img(src="/img/help.png", alt="")

			block desc

			section.actGroup
				form#formAddChildAct
					fieldset
						legend ¿Con cuál niñ@ nos divertiremos ahora?
						input#idChildren(type='number', name='idChildren', min='1111', placeholder='Identificación Niño', required='')
						article.pin
							label(for="numberPin") Configuración Pin: 
							input#numberPin(type='number', name='numberPin', min='1', max='4' placeholder='Pin' required='')
						article
							button(type='submit')
								span Iniciar Actividad
				section#showChildrensCont.childShow
				include ../templatesQuery/addChildrenAct.jade

				section#selectChildrens
				include ../templatesQuery/selectChildrenAct.jade

			block activity
		script(src="/js/lib/socket.io-1.4.5.js")
		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/estimulation.js")
		script.
			var socket = io.connect("http://localhost:8000/")
			socket.on("response", function (data) {
			console.log(data)
			})