doctype html
html(lang='es')
	head
		audio#audioPrinc(src='/audio/principal.mp3')
		meta(charset='UTF-8')
		block title
		link(rel='stylesheet', href='/css/styles.css')
	body.backgroundF
		if user
			input(type="hidden" name="idUserAuthenticate" value="#{user.idUser}")
		section.container
			section.centerEstimulation.help
				h2.exit
					block a-exit
				a(href="/users/help-me" target="blank")
					img(src="/img/help.png", alt="")

			block desc

			section.actGroup
				form#formAddChildAct
					fieldset
						legend ¿Con cuál niñ@ nos divertiremos ahora?
						input#idChildren(type='number' name='idChildren' min='1111' placeholder='Identificación Niño' required data-valid-exists="children,false,true")
						article
							button(type='submit')
								span Iniciar Actividad
				section#showChildrensCont.childShow
				include ../templatesQuery/addChildrenAct.jade

			block activity
		script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
		script(src="/js/lib/socket.io-1.4.5.js")
		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/main.js")
		script(src="/js/estimulation.js")