doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		block title
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
	body.backgroundF
		section.container
			section.centerEstimulation
				h2.exit
					block a-exit

			block desc
		
			section.actGroup
				form#formAddChildAct
					fieldset
						legend ¿Con cuál niñ@ nos divertiremos ahora?
						input#idChildren(type='number', name='idChildren', min='1111', placeholder='Identificación Niño', required='')
						article
							button(type='submit')
								span Iniciar Actividad
				section#showChildrensCont
				include ../templatesQuery/addChildrenAct.jade
					
				section#selectChildrens
				include ../templatesQuery/selectChildrenAct.jade

			block activity
		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/estimulation.js")
