template#consulQueryActivityChild
    
	article#nameChild
		p
			b DESCRIPCIÓN ACTIVIDAD 1
		span
			| 1. Paso1 ...2... 3...
	article#nameChild1.actCentral
		p
			b ACTIVIDAD A REALIZAR
		a(href='#')
			img(src='', alt='IMG')
	article#nameChild2
		p
			b RESULTADO
		img(src='/img/espera.png', alt='')