template#consulQueryActivityChild
	article#nameChild
		p
			b ¡LÉEME!
		-var n = 0
		for guide in activity.guidesChild
			-n++
			p 
				b #{n}: 
				span #{guide}

	article#nameChild1.actCentral
		p
			b ¡ESCÚCHAME!
		img#imgAct(src='#{activity.imgActivity}', alt='IMG')
	article#nameChild2
		p
			b ¿CÓMO TE FUÉ?
		img(src='/img/imgacts/activities/espera.png', alt='')
		input#scoreSystemActivity.actCentralI(type='text', name='scoreSystemActivity', readonly)

	script.
		$("#imgAct").click(()=>$("#audio").trigger("play"))