template#consulQueryActivityChild
    
	article#nameChild
		p
			b DESCRIPCIÓN ACTIVIDAD #{activity.activity}
		for guide in activity.guides
			p #{guide}

	article#nameChild1.actCentral
		p
			b ACTIVIDAD A REALIZAR
		img#imgAct(src='#{activity.img}', alt='IMG')
	article#nameChild2
		p
			b RESULTADO
		img(src='/img/espera.png', alt='')

	script
		$("#imgAct").click(() => $("#audio").trigger("play"))