template#consulQueryActivityChild
	article#nameChild
		p
			b DESCRIPCIÓN ACTIVIDAD #{activity.activityActivity}
		-var n = 0
		for guide in activity.guidesActivity
			-n++
			p 
				b #{n}: 
				span #{guide}

	article#nameChild1.actCentral
		p
			b ACTIVIDAD A REALIZAR
		img#imgAct(src='#{activity.imgActActivity}', alt='IMG')
	article#nameChild2
		p
			b RESULTADO
		img(src='/img/espera.png', alt='')
		input#scoreSystemActivity.actCentralI(type='text', name='scoreSystemActivity', value='0', readonly)

	script
		$("#imgAct").click(() => $("#audio").trigger("play"))