template#consulQueryActivityChild
	article#nameChild
		p
			b DESCRIPCIÓN ACTIVIDAD #{activity.activityActivity}
		for guide in activity.guidesActivity
			p #{guide}

	article#nameChild1.actCentral
		p
			b ACTIVIDAD A REALIZAR
		img#imgAct(src='#{activity.imgActActivity}', alt='IMG')
	article#nameChild2
		p
			b RESULTADO
		img(src='/img/espera.png', alt='')

	script
		$("#imgAct").click(() => $("#audio").trigger("play"))