template#consulQueryAddChild
	article.showChildrens
		form#formInicAct
			fieldset
				legend Niñ@ Actual
				article#showChildrens.showChildrens

				article
					button#cancelAddChildren(type="button")
						span Cancelar

	article.showChildrens
		fieldset#fieldsetGuide
			legend Guía
			-var n = 0
			for guide in activity.guidesActivity
				-n++
				p 
					b #{n}: 
					span #{guide}
	article.showChildrens
		fieldset
			legend Tapete
			button#connectRug
				span Connectar
			button#disconnectRug
				span Desconectar
			span#statusRug Desconectado