template#consulQueryAgeStep
  section.consul.consulQuery
  h3 Listado por Edades y Etapas
  p.consulTableP
    span
      b RESULTADOS
  article.consulTable
    table#consulAgeStep
      thead
        tr
          th ETAPA 1
          th ETAPA 2
          th ETAPA 3
          th ETAPA 4
        tr
          th 0 - 6 MESES
          th 6 - 12 MESES
          th 12 - 18 MESES
          th 18 - 24 MESES
      tbody
        tr
          td xxx
          td xxx
          td xxx
          td xxx
      tfoot
        tr
          th#consulTotalStep1 Total Etapa 1
          th#consulTotalStep2 Total Etapa 2
          th#consulTotalStep3 Total Etapa 3
          th#consulTotalStep4 Total Etapa 4