template#consulQueryAgeStep
	section.consul.consulQuery
		h3 Listado por Edades y Etapas
		p.consulTableP
			span
				b RESULTADOS (En cada nombre de cada niñ@ mostrar un link a su infoChidren)
		article.consulTable
			table#consulAgeStep
				thead
					tr
						th ETAPA 1
						th ETAPA 2
						th ETAPA 3
						th ETAPA 4
					tr
						th 24 - 30 MESES
						th 30 - 36 MESES
						th 36 - 42 MESES
						th 42 - 48 MESES
				tbody#dataAgeStep
					
				tfoot
					tr
						th#consulTotalStep1 Total Etapa 1
						th#consulTotalStep2 Total Etapa 2
						th#consulTotalStep3 Total Etapa 3
						th#consulTotalStep4 Total Etapa 4