template#consulQueryChildren
	section.consul.consulQuery
		h3 Resultado Consulta por Niñ@
		section.cQChildren
			article.consulName#dataChild1

			article.consulData#dataChild2
				article.consulImg
					p
						img#consulRImg(src='', alt='Foto')

			article.consulStatus
				p
					span
						b Fecha de Ingreso:
					span#consulRDateIni FechaIngresoQuery
				p
					span
						b Estado Actual:
					span#consulRStatus EstadoQuery
				p
					span
						b % Etapa:
					span#consulRStep EtapaQuery
					span#consulRPercentajeStep PorcentajeQuery
				p
					span
						b % General:
					span#consulRPercentaje PorcentajeQuery

			article.consulTable
				p.consulTableP
					span
						b ETAPA 1
				table#consulStep1
					thead
						tr
							th ACTIVIDAD
							th ESTADO
							th %
							th ULT. INGRESO
					tbody
						tr
							td xxx
							td xxx
							td xxx
							td xxx
			article.consulTable
				p.consulTableP
					span
						b ETAPA 2
				table#consulStep2
					thead
						tr
							th ACTIVIDAD
							th ESTADO
							th %
							th ULT. INGRESO
					tbody
						tr
							td xxx
							td xxx
							td xxx
							td xxx
			article.consulTable
				p.consulTableP
					span
						b ETAPA 3
				table#consulStep3
					thead
						tr
							th ACTIVIDAD
							th ESTADO
							th %
							th ULT. INGRESO
					tbody
						tr
							td xxx
							td xxx
							td xxx
							td xxx
			article.consulTable
				p.consulTableP
					span
						b ETAPA 4
				table#consulStep4
					thead
						tr
							th ACTIVIDAD
							th ESTADO
							th %
							th ULT. INGRESO
					tbody
						tr
							td xxx
							td xxx
							td xxx
							td xxx