template#consulQueryDataStepDetail 
	section.continue.continueProgressLogros
		article.consulTable
			table
				thead
					tr
						th INGRESO
						th ACTIVIDAD
						th ESTADO
						th PUNT DOCENTE
						th PUNT SISTEMA
						th OBSERVACIONES
						th DOCENTE
						th FECHA
				tbody#tableActsStepDetail