template#consulQueryDataStepDetail
	section.continue.continueProgressLogros
		article.consulName
			p
				span
					b ETAPA
				span#consulRStep
					b #{childrenAct.nameChildren}
		article.consulTable
			table
				thead
					tr
						th ACTIVIDAD
						th INGRESOS
						th ESTADO
						th %
						th OBSERVACIONES
						th ÚLT. INGRESO
				tbody
					tr
						td
							a#continueDetailAct(href='#') XXXXX
						td XXXXX
						td XXXXX
						td XXXXX
						td XXXXX
						td XXXXX