template#consulQueryDataStepDetail
	section.continue.continueProgressLogros
		article.consulName
			p
				span
					b ETAPA #{childrenAct.activities[0].idStep.stepStep}
		article.consulTable
			table
				thead
					tr
						th INGRESO
						th ACTIVIDAD
						th ESTADO
						th PUNT DOCENTE
						th PUNT SISTEMA
						th OBSERVACIONES
						th DOCENTE
						th FECHA
				tbody#actsStepDetail