template#consulQueryDataStepDetail 
	section.continue.continueProgressLogros

		article.consulName
			p
				span#stepDetail

		article.consulTable
			table
				thead
					tr
						th INGRESO
						th ACTIVIDAD
						th ESTADO
						th PUNT DOCENTE
						th PUNT SISTEMA
						th OBSERVACIONES
						th DOCENTE
						th FECHA
				tbody#tableActsStepDetail