template#consulQueryGeneralAvanced
  section.consul.consulQuery
  h3 Listado General
  p.consulTableP
    span
      b RESULTADOS
  article.consulTable
    table#consulGeneralAvanced
      thead
        tr
          th NOMBRE
          th EDAD
          th ETAPA
          th %
          th ACT. COMPLETADAS
          th ACT. PENDIENTES
          th ULT. INGRESO
      tbody#data    

          