template#consulQueryGeneralAvanced
	section.consul.consulQuery
		h3 Listado General
		p.consulTableP
			span
				b RESULTADOS (Mostrar link a cada etapa y renderizar todos los intentos de cada actividad)
		article.consulTable
			table#consulGeneralAvanced
				thead
					tr
						th ID
						th NOMBRE
						th EDAD
						th ETAPA 1
						th ETAPA 2
						th ETAPA 3
						th ETAPA 4
						th ULT. INGRESO
				tbody#data