template#consulQueryResults
	section.consul.consulQuery
		h3 Listado por Resultados
		p.consulTableP
			span
				b#numberStepResult 
				span : 
				b#nameStepResult
		p.consulTableP
			span
				b#descriptionStepResult
		article.consulTable
			table
				thead
					tr#actsVal
						th NOMBRE
						th EDAD
						th ESTADO
				tbody#resultStepTable