template#consulQueryResults
	section.consul.consulQuery
		h3 Listado por Resultados
		p.consulTableP
			span
				b ETAPA 1
		article.consulTable
			table#consulResults1
				thead
					tr
						th NOMBRE
						th EDAD
						th ACTIVIDAD 1
						th ACTIVIDAD 2
						th ESTADO
				tbody#dataResultStep1
					tr
						td NOMBRE
						td EDAD
						td ESTADO ACT 1
						td ESTADO ACT 2
						td ESTADO ETAPA
		p.consulTableP
			span
				b ETAPA 2
		article.consulTable
			table#consulResults2
				thead
					tr
						th NOMBRE
						th EDAD
						th ACTIVIDAD 1
						th ACTIVIDAD 2
						th ESTADO
				tbody#dataResultStep2
					tr
						td NOMBRE
						td EDAD
						td ESTADO ACT 1
						td ESTADO ACT 2
						td ESTADO ETAPA
		p.consulTableP
			span
				b ETAPA 3
		article.consulTable
			table#consulResults3
				thead
					tr
						th NOMBRE
						th EDAD
						th ACTIVIDAD 1
						th ACTIVIDAD 2
						th ESTADO
				tbody#dataResultStep3
					tr
						td NOMBRE
						td EDAD
						td ESTADO ACT 1
						td ESTADO ACT 2
						td ESTADO ETAPA
		p.consulTableP
			span
				b ETAPA 4
		article.consulTable
			table#consulResults4
				thead
					tr
						th NOMBRE
						th EDAD
						th ACTIVIDAD 1
						th ACTIVIDAD 2
						th ESTADO
				tbody#dataResultStep4
					tr
						td NOMBRE
						td EDAD
						td ESTADO ACT 1
						td ESTADO ACT 2
						td ESTADO ETAPA