template#consulQuerySelectChild
    section.actDesc
        article
          label(for='childrenList') Selecciona el niñ@ para iniciar la actividad: 
          select(name='childrenList')#childrenList
            