template#consulQueryUserUpdate
  form#formUpdateUser
    fieldset.userAdd
      legend Actualizar Usuario
      section.data
        fieldset
          legend Personal
          article
            input#idUser(type='number', name='idUser', min='1111', placeholder='Número Identificación', required='')
            input#expeditionUser(type='text', name='expeditionUser', placeholder='Lugar de Expedición', required)
          article
            input#nameUser(type='text', name='nameUser', placeholder='Nombres', required='')
            input#lastnameUser(type='text', name='lastnameUser', placeholder='Apellidos', required='')
          article
            label(for='ageUser') Edad: 
            input#ageUser(type='number', name='ageUser', min='18', max='99', placeholder='Edad' required)
          article.img
            span Foto
            input#imgUser(type='file', name='imgUser', accept='image/*')
        fieldset
          legend Contacto
          article
            input#telUser(type='number', name='telUser', min='1111111', max='9999999', placeholder='Teléfono Fijo', required='')
            input#celUser(type='number', name='celUser', min='1111111111', max='9999999999', placeholder='Celular', required='')
            input#emailUser(type='email', name='emailUser', placeholder='correo-usuario@abc.com', required)
          article
            input#addressUser(type='text', name='addressUser', placeholder='Dirección', required='')
            input#localityUser(type='text', name='localityUser', placeholder='Barrio', required='')
            input#municipalityUser(type='text', name='municipalityUser', placeholder='Ciudad/Municipio', required='')
            input#departamentUser(type='text', name='departamentUser', placeholder='Departamento', required='')
        fieldset
          legend Profesión
          article
            label(for='studyUser') Nivel de Estudios: 
            select#studyUser(name='studyUser')
              option(value='Básica Primaria', selected) Básica Primaria
              option(value='Básica Secundaria') Básica Secundaria
              option(value='Bachiller') Bachiller
              option(value='Técnico Profesional') Técnico Profesional
              option(value='Tecnólogo') Tecnólogo
              option(value='Profesional') Profesional
              option(value='Especialización') Especialización
              option(value='Maestría') Maestría
              option(value='Doctorado') Doctorado
            input#professionUser(type='text', name='professionUser', placeholder='Título adquirido', required)
            article
              label(for='experienceUser') Experiencia en meses: 
              input#experienceUser(type='number', name='experienceUser', min='0', max='999', placeholder='Experiencia en meses', required)
            article
            input#centerUser(type='text', name='centerUser', placeholder='Centro Zonal', required)
          article
            button(type='submit')
              span Registrar
            button(type='reset')
              span Limpiar
            p.cancel
              a(href='/admin/admin-users') Cancelar