template#consulQueryChildrenValidParcial

	form#formValidChildrenParcial.validAct
		fieldset
			legend Validación Actividad
			article
				label Docente: 
				input#userUser.userR(type='text', name='userUser', value='#{user.userUser}', readonly)
			article#dataNameChildParcial
			
			article
				label Resultado Sistema 
				input#scoreSystemActivity(type='text', name='scoreSystemActivity', value='0', readonly)
			
			article
				label Puntuación Docente 
				input#scoreTeachActivity(type='number', name='scoreTeachActivity', min='0', max='10', placeholder='Puntaje', required='')
			
			article
				label Estado de la Actividad 
				select#statusActivity(name='statusActivity')
					option(value='0', selected='') Pendiente
					option(value='1') Completada
			
			article
				textarea#observationActivity(name='observationActivity' placeholder='Observaciones...' required)
			
			article.validActButton
				button(type='submit')
					span Validar

				button#buttonCancelValidActParcial(type='button')
					span Cancelar
