template#consulQueryChildrenValid

	form#formValidChildren
		fieldset.validStep
			legend Validar Etapa
			article#dataNameChild
			
			article.validStep
				textarea#observationStep(name='observationStep' placeholder='Observaciones...' required)
			article
				button#validStep(type='button')
					span Validar

				button#cancelValidStep(type='button')
					span Cancelar
