template#consulQueryChildrenValid

	form#formValidChildren
		fieldset.validStep
			legend Validar Etapa
			article

				article
					p
						b
							span#nameChildren
				article
					p
						b
							span#step

				article#dataNameChild

				article
					b
						label Puntaje Etapa: 
					input#scoreStep(type='number', name='scoreStep', readonly)

				article.validStep
					textarea#observationStep(name='observationStep' placeholder='Observaciones...' required)
				article
					button#validStep(type='button')
						span Validar

					button#cancelValidStep(type='button')
						span Cancelar
