template#consulQueryChildrenValid

	form#formValidChildren
		fieldset.validStep
			legend Validar Etapa
			article#dataNameChild

			article
				p
					span #{activities[0].idChildren.nameChildren + " " + activities[0].idChildren.lastnameChildren}
			
			article.validStep
				textarea#observationStep(name='observationStep' placeholder='Observaciones...' required)
			article
				button#validStep(type='button')
					span Validar

				button#cancelValidStep(type='button')
					span Cancelar
